# Postgres
POSTGRES_DB=nakama
POSTGRES_USER=nakama
POSTGRES_PASSWORD=

# Nakama
NAKAMA_SERVER_KEY=
NAKAMA_GWP_SECRET=
NAKAMA_CONSOLE_USER=admin
NAKAMA_CONSOLE_PASSWORD=
NAKAMA_CONSOLE_SIGNING_KEY=
NAKAMA_SESSION_ENCRYPTION_KEY=
NAKAMA_SESSION_REFRESH_ENCRYPTION_KEY=
NAKAMA_RUNTIME_HTTP_KEY=

TUNNEL_MODE=named
TUNNEL_DOMAIN=
TUNNEL_TOKEN=

# Cloudflare credentials for automated DNS setup (optional)
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_API_TOKEN=

# Grafana admin password (used by the grafana container)
GRAFANA_ADMIN_PASSWORD=
